<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>


    </style>
</head>

<body>


    <div class="container">

        <img src={{ MapImg | safe }} alt="">

        <!-- w = 8, H = 10.3 -->

    </div>
    <!-- </div> -->
    <div class="bottom" style="float:left;">
        <p style="font-size:6em;"> {{CityName | safe}}</p>
    </div>
    <div class="ba" style="float:right; margin-top: 50px;" >
    <p style="font-size: 2em; "> {{CountryName | safe }}</p>
     <p style="font-size: 2em;"> {{Coordinates | safe }}</p>
    </div>
    

</body>

</html>