<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>

  
    </style>
</head>
<body>
   

<div class="container">

<img 
src=
{{ MapImg | safe }}

alt="">


</div>
<!-- </div> -->
<div class="bottom" style="font-size: xx-large; border: 2px solid #000000; text-align: center; margin-top:100px; width: 20em; margin-left: 28em;">
    <h1>{{CityName | safe}}</h1>
    <h3>{{CountryName | safe }}</h3>
    <h3>{{Coordinates | safe }}</h3>
</div>

</body>
</html>

