<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
.bottom {
  position: fixed;
  top: 88%;
  left: 40% !important;
  transform: translate(-50%, -50%);
  text-align: center;
}
  
    </style>
</head>
<body>
   
    <!-- w = 8, H = 11.4 -->

<div class="container">

<img 
src=
{{ MapImg | safe }}

alt="">
</div>

<div class="bottom" style=" text-align: center; color: #fff; margin-top: -280px; margin-left: -280px;">
    <h1 style="margin-bottom: -30px; font-size: 10em; margin-left: 20px; margin-right: 20px;">{{CityName | safe}}</h1>
    <h3 style="font-size: 4em;">{{CountryName | safe }}</h3>
    <h3 style="font-size: 4em;">{{Coordinates | safe }}</h3>
</div>




</body>
</html>

