<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    html, body {
        /* margin: 0px; */
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        height: 100%;
        text-align: center;
    }
    </style>
</head>
<body>
   <!-- H - 10 -->
<div class="container">
<img src=
{{ MapImg | safe }}
 alt=""
 >
</div>
    <div class="map_over_text map_over_text_bg_color text_color_dark" id="map_text">
        <h1 style="margin-bottom: -30px; margin-top: 170px !important; font-size: 6em;">{{CityName | safe}}</h1>
        <h3 style="font-size: 2em;">{{CountryName | safe }}</h3>
        <h3 style="font-size: 2em;">{{Coordinates | safe }}</h3>
    </div>
</body>
</html>